<app-navbar></app-navbar>
<div class="form">
<div class="mb-3">
    <label  class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" >
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label  class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="mb-3 form-check">
    <label class="form-label" >Address &nbsp; </label>  <input type="text" class="form-control2" placeholder="City">
    <label  class="form-label">Contact no.  &nbsp; </label>  <input type="text" class="form-control2" placeholder="+977-9xxxxxxxx">
   
  </div>
  <button type="submit" class="btn btn-primary">SAVE</button>
</div>