h1{
    text-align: center;
    margin-top: 4rem;
}
form{
    width: 40%;
    margin: auto;
    margin-top: 3rem;
    align-items: center;
    background-color: rgb(188, 242, 242);
    padding: 5rem;
}
form input:not(#chkbox){
   max-width: 80%;
}